/* Secondary Black: #121313 */

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
}

#navbar {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #navButtons {
    display: flex;
    margin-left: auto;
}

#navbar #profileButtons #profileImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

button {
    background-color: #1DB954;
    color: white;
    border: none;
    font: inherit;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 15px;
    cursor: finger;
    display: inline-block;
}

button:hover {
    background-color: #14833b;
}

h1 {
    color: #1DB954;
    line-height: 1.2;
    letter-spacing: normal;
}

/* Typewriter effect */

.typewriter {
    font-family: monospace;
    white-space: pre-wrap;
    line-height: 1.2;
    letter-spacing: normal;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: black;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: black;
    }
}

/* Footer styles */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}
