
body {
    align-items: center;
    justify-content: center;
}

.cardHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    z-index: 5;
}

.card {
    background: #48468f;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    width: 350px;
}

#profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
