<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="UnWrapped | Get your Spotify wrapped and stats!">
    <meta name="og:description" content="Get your spotify wrapped and other stats at any time of the year.">
    <meta name="og:url" content="https://unwrapped.onrender.com/">
    <meta name="og:image" content="https://unwrapped.onrender.com/static/logo/LogoRectangle.png">
    <meta name="keywords" content="spotify, wrapped, stats, music, top tracks, top artists">
    <meta name="author" content="Farhan Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="theme-color" content="#1DB954">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
    <nav></nav>
    {% if not user %}
        <h1>
            <br>
            <div class="typewriter" id="twtxt0" style="visibility: hidden;"></div>
            <span style="font-size: 2em;">
                <div class="typewriter" id="twtxt1" style="visibility: hidden;"></div>
            </span>
        </h1>
        <button id="loginButton" onclick="window.location.href='/login'">Login with Spotify</button><br><br>
        Please read <a href="/privacy_policy" id="loginLink">Privacy Policy</a> before you click login!
    {% endif %}

    <div class="cardRow">
        <div class="card" id="card0">
            <h2>Top Songs</h2>
            <p>View your top songs listened to</p>
            <button id="topTracks">View</button>
        </div>
        <div class="card" id="card1">
            <h2>Top Arists</h2>
            <p>View your top artists listend to</p>
            <button id="topArtists">View</button>
        </div>
        <div class="card" id="card2">
            <h2>Playlists</h2>
            <p>View your playlists on Spotify</p>
            <button id="playlists">View</button>
        </div>
    </div>

    {% if not user %}
        <script>
            var btns = document.getElementsByClassName('card');
            for (var i = 0; i < btns.length; i++) {
                btns[i].onclick = function() {
                    alert('Please login to view your stats');
                }
            }
        </script>
    {% else %}
        <script>
            document.getElementById('topTracks').onclick = function() {
                window.location.href = '/toptracks';
            }
            document.getElementById('topArtists').onclick = function() {
                window.location.href = '/topartists';
            }
            document.getElementById('playlists').onclick = function() {
                window.location.href = '/playlists';
            }
        </script>
    {% endif %}

    <script src="static/js/main.js"></script>
    <script src="static/js/typewriter.js"></script>
</body>
</html>