<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Home</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
</head>
<body>
    <nav></nav>
    <h1>
        <br>
        <div class="typewriter" id="twtxt0" style="visibility: hidden;"></div>
        <span style="font-size: 2em;">
            <div class="typewriter" id="twtxt1" style="visibility: hidden;"></div>
        </span>
    </h1>
    <script src="static/js/main.js"></script>
    <script src="static/js/typewriter.js"></script>
</body>
</html>