<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Playlist</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="UnWrapped | Your Playlist!">
    <meta name="og:description" content="View your playlist.">
    <meta name="og:url" content="https://unwrapped.onrender.com/playlist">
    <meta name="og:image" content="https://unwrapped.onrender.com/static/logo/LogoRectangle.png">
    <meta name="keywords" content="spotify, wrapped, stats, music, playlist, tracks">
    <meta name="author" content="Farhan Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="theme-color" content="#1DB954">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/top.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script> 
</head>
<body>
    <nav></nav>
    <div id="playlistHeader" class="playlist-header">
        <br><br>
        <img id="playlistImage" src="{{ playlist.image }}" alt="Playlist Image" class="playlist-image">
        <h1 id="playlistName">Playlist: {{ playlist.name }}</h1>
        <h2>Created by: {{ playlist.owner_name or playlist.owner_id }}</h2>
        <p>Total Tracks: {{ playlist.track_count }}</p>
        <br><br>
    </div>

    <div id="cardColumn"></div>
    <button id="loadMoreButton">Load More...</button>
    <br><br><br><br><br>

    <script src="static/js/main.js"></script>
    <script>
        let page = 0;
        let isLoading = false;
        const cardColumn = document.getElementById('cardColumn');
        const loadMoreButton = document.getElementById('loadMoreButton');
        const playlistId = '{{ playlist.id }}';
        const colorThief = new ColorThief();
    
        function cacheData(key, data) {
            const cache = {
                timestamp: Date.now(),
                data: data
            };
            localStorage.setItem(key, JSON.stringify(cache));
        }
    
        function getCachedData(key) {
            const cache = JSON.parse(localStorage.getItem(key));
            if (cache && (Date.now() - cache.timestamp < 300000)) { // 5 minutes = 300000 milliseconds
                return cache.data;
            }
            return null;
        }
    
        async function loadMoreTracks() {
            if (isLoading) return;
            isLoading = true;
            const cacheKey = `playlist_${playlistId}_page_${page}`;
            const cachedData = getCachedData(cacheKey);
    
            if (cachedData) {
                appendTracks(cachedData);
                isLoading = false;
            } else {
                try {
                    const response = await fetch(`/load_more_playlist_tracks?playlist_id=${playlistId}&page=${page}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const data = await response.json();
                    if (data.tracks) {
                        const parsedTracks = data.tracks.map(track => JSON.parse(track));
                        cacheData(cacheKey, parsedTracks);
                        appendTracks(parsedTracks);
                    } else {
                        console.error('No tracks found in response:', data);
                    }
                } catch (error) {
                    console.error('Error loading more tracks:', error);
                } finally {
                    isLoading = false;
                }
            }
            page++;
        }
    
        function appendTracks(tracks) {
            tracks.forEach((track, index) => {
                const albumImage = track.album?.image || 'default_image_url';
                const artistNames = track.artists?.map(artist => `<a href="https://open.spotify.com/artist/${artist.id}" target="_blank">${artist.name}</a>`).join(', ') || 'Unknown Artist';
                const albumName = track.album ? `<a href="https://open.spotify.com/album/${track.album.id}" target="_blank">${track.album.name}</a>` : 'Unknown Album';
                const spotifyUrl = `https://open.spotify.com/track/${track.id}`;
                const card = document.createElement('div');
                card.className = 'card';
                card.id = `card${page * 20 + index + 1}`;
                const minutes = Math.floor(track.duration_ms / 60000);
                const seconds = Math.floor((track.duration_ms % 60000) / 1000).toString().padStart(2, '0');
                card.innerHTML = `
                    <h2>#${page * 20 + index + 1} <img src="${albumImage}" alt="${track.name}" class="cardImage" loading="lazy"></h2> 
                    <span class="cardSpan">
                        <h3 class="cardName">
                            <a href="${spotifyUrl}" target="_blank">${track.name}</a>
                            <button class="spotifyButton" onclick="window.open('${spotifyUrl}')"></button>
                        </h3>
                        <p>${artistNames}</p>
                        <p>${albumName}</p> 
                        <p>Duration: ${minutes}:${seconds}</p>
                    </span>
                `;
    
                const imgCacheKey = `albumImage_${track.album?.id}`;
                const cachedImage = getCachedData(imgCacheKey);
    
                if (cachedImage) {
                    applyImageColor(cachedImage, card);
                } else {
                    const img = new Image();
                    img.crossOrigin = 'Anonymous';
                    img.src = albumImage;
                    img.onload = () => {
                        const color = colorThief.getColor(img);
                        cacheData(imgCacheKey, color);
                        applyImageColor(color, card);
                    };
                }
    
                cardColumn.appendChild(card);
            });
        }
    
        function applyImageColor(color, card) {
            const tdcolor = color.map(channel => Math.floor(channel * 0.7 + 255 * 0.3));
            const tdcolorRgb = `rgb(${tdcolor[0]}, ${tdcolor[1]}, ${tdcolor[2]})`;
            const originalColorRgb = `rgb(${color[0]}, ${color[1]}, ${color[2]})`;
    
            card.style.background = `linear-gradient(to bottom, ${tdcolorRgb} 30%, black 100%)`;
            card.style.borderColor = originalColorRgb;
    
            const luminance = (0.299 * tdcolor[0] + 0.587 * tdcolor[1] + 0.114 * tdcolor[2]) / 255;
            if (luminance > 0.7) {
                card.style.color = 'black';
            } else {
                card.style.color = 'white';
            }
        }

        function applyHeaderBackgroundColor() {
            const img = document.getElementById('playlistImage');
            img.crossOrigin = 'Anonymous';
            img.onload = () => {
                const color = colorThief.getColor(img);
                const tdcolor = color
                const tdcolorRgb = `rgb(${tdcolor[0]}, ${tdcolor[1]}, ${tdcolor[2]})`;  
                document.getElementById('playlistHeader').style.background = `linear-gradient(to bottom, ${tdcolorRgb}, #553a78)`;
                document.getElementById('body').style.background = tdcolorRgb;
            };
        }

        loadMoreButton.addEventListener('click', () => {
            loadMoreTracks();
        });

        applyHeaderBackgroundColor();
        loadMoreTracks();
    </script>
</body>
</html>