<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Playlists</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="UnWrapped | Get your Spotify wrapped and stats!">
    <meta name="og:description" content="Get your spotify wrapped and other stats at any time of the year.">
    <meta name="og:url" content="https://un-wrapped.vercel.app">
    <meta name="keywords" content="spotify, wrapped, stats, music, top tracks, top artists">
    <meta name="author" content="Farhan Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="theme-color" content="#1DB954">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <nav></nav>
    <script src="static/js/main.js"></script>
</body>
</html>