<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Privacy Policy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="UnWrapped | Privacy Policy">
    <meta name="og:description" content="Learn about how we handle your data.">
    <meta name="og:url" content="https://un-wrapped.vercel.app">
    <meta name="keywords" content="spotify, privacy, data protection, stats, music">
    <meta name="author" content="Farhan Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="theme-color" content="#1DB954">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
    <nav></nav>
    <div class="content">
        <h1>Privacy Policy</h1>
        <p>Last updated: October 9th, 2024</p>
        <p>Welcome to UnWrapped. We are committed to protecting your personal data and your privacy.</p>
        <p>This Privacy Policy explains how we collect, use, and share your personal information when you use our services.</p>
        
        <h2>Information We Collect</h2>
        <p>We collect the following types of information:</p>
        <ul>
            <li><strong>Personal Information:</strong> Information that identifies you, such as your Spotify ID, email address, and profile information.</li>
            <li><strong>Usage Data:</strong> Information about how you use Spotify, such as your top tracks and artists.</li>
        </ul>
        
        <h2>How We Use Your Information</h2>
        <p>We use your information to:</p>
        <ul>
            <li>Generate your music stats and playlists.</li>
            <li>Create playlists with your top tracks/artists</li>
            <li>Improve our services and user experience.</li>
            <li>Communicate with you about updates and other relevant information.</li>
        </ul>
        
        <h2>Data Sharing and Disclosure</h2>
        <p>We do not share your personal data with third parties except in the following cases:</p>
        <ul>
            <li>With your consent.</li>
            <li>To comply with legal obligations.</li>
            <li>To protect and defend our rights and property.</li>
        </ul>
        
        <h2>Data Security</h2>
        <p>We implement appropriate technical and organizational measures to protect your personal data from unauthorized access, use, or disclosure.</p>
        
        <h2>Your Rights</h2>
        <p>You have the right to:</p>
        <ul>
            <li>Access the personal data we hold about you.</li>
            <li>Request correction of any incorrect or incomplete data.</li>
            <li>Request deletion of your personal data.</li>
            <li>Object to the processing of your personal data.</li>
        </ul>

        <h2>Disclaimer</h2>
        <p>We are in no way affiliated with, endorsed by, or partnered with Spotify. We do not have any rights to Spotify's content or services. Our application uses Spotify's API to provide you with your music stats and playlists.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about this Privacy Policy, please contact me at Discord: @farrrnotfr.</p>
        
        <p>For more information, you may refer to the open-source code on <a href="https://github.com/unrealfar/unwrapped">GitHub</a>.</p>

        <button id="loginButton">Login</button>
        <br><br><br><br>
    </div>
    <script>
        document.getElementById('loginButton').onclick = function() {
            window.location.href = '/login';
        };
    </script>
    <script src="static/js/main.js"></script>
</body>
</html>