<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Profile</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/profile.css">
</head>
<body></body>
    <nav></nav>

    <h2>Profile</h2>
    <div id="ProfileCard">
        <h3>Username: <span id="display_name"></span></h3>
        <p><button id="sp_profile_url">View In Spotify</button></p>
    </div>
    <button id="logout">Log Out</button>
    <script src="static/js/main.js"></script>
    <script src="static/js/profile.js"></script>
</html>