<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>UnWrapped | Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="UnWrapped | Get your Spotify wrapped and stats!">
    <meta name="og:description" content="View your profile(Spotify).">
    <meta name="og:url" content="https://unwrapped.onrender.com/profile">
    <meta name="og:image" content="https://unwrapped.onrender.com/static/logo/LogoRectangle.png">
    <meta name="keywords" content="spotify, wrapped, stats, music, top tracks, top artists">
    <meta name="author" content="Farhan Ahmed">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="bingbot" content="index, follow">
    <meta name="theme-color" content="#1DB954">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/profile.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
</head>
<body></body>
    <nav></nav>

    <h2>Profile</h2>
    <div class="cardHolder">
        <div class="card">
            <img id="profileImage" src="{{ user.image }}" alt="Profile Image">
            <h3><span id="displayName">{{ user.name }}</span></h3>
            <p>Followers: {{ user.follower_count }}</p>
            <p><button id="spProfileUrl">View In Spotify</button></p>
        </div>
    </div>
    <script src="static/js/main.js"></script>
    <script src="static/js/profile.js"></script>
</html>